#app {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#app.show {
  visibility: visible;
  display: block;
}
#app.hide {
  visibility: hidden;
  display: none;
}
#app > div + div {
  margin-top: 10px;
  display: none;
}
