.baseInfo > .word-name {
  font-size: 40px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 4px;
  word-break: break-all;
  max-height: 100px;
  overflow: auto;
}
.baseInfo > .word-tags {
  margin-bottom: 10px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}
.baseInfo > .symbols > div {
  height: 28px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.65);
}
.baseInfo > .symbols > div > span + span {
  margin-left: 5px;
}
.baseInfo .symbols-audio {
  display: none;
}

.baseInfo .symbols {
  width: max-content;
  display: flex;
  flex-direction: column;
}
